.main-heading{
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 96px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background: #1b1b1b;
    padding: 40px;
    padding-top: 100px;
}

.heading{
    color: rgb(48, 97, 255);
    font-size: 24px;
    font-weight: 500;
}

.section-link{
    color: black;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
}

.section-link:hover{
    color: rgb(48, 97, 255);
    transition: top .1s;
    border: 1px solid rgb(48, 97, 255);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.home-section{
    width: 1020px;
    margin: auto;
}

.section-news{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.section-news.second{
    margin-left: 10px;
    width: 250px;
}

.author{
    color:rgb(48, 97, 255);
    margin: 10px 0px;
}

.title{
    font-size: 30px;
    font-weight: 600;
}

.title.second{
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #1b1b1b;
}
a:hover {
    text-decoration: none;
    color:rgb(48, 97, 255)
}