.filter-box{
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    height: 69vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details{
    width: 250px;
    height: 60vh;
    border-radius: 10px;
    overflow-y: scroll;
}

.apply-filter-button{
    background: white;
    color: rgb(48, 97, 255);
    border: solid 2px rgb(48, 97, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.apply-filter-button:hover{
    background: rgb(48, 97, 255);
    color: white;
}

.main{
    width: 330 px;
    padding: 8px;
    border-radius: 40px;
    background: white;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 900px;
    margin: 5px;
    padding: 10px;
    padding-right: 0px;
    font-size: 20px;
    color:black;
    height: 40px;
}
.icon-search{
    color:#0b003f;
    font-size: 35px;
    margin: 5px;
}

.icon-search:hover{
    color: rgb(48, 97, 255);
}

.btn-search{
    background: transparent;
    border: 0px;
    outline: 0px;
}

.search-result-display-box{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 10px
}

ul{
    list-style: none;
}

input[type='checkbox'] {
    margin: 10px;
    height: 15px;
    width: 15px;
    accent-color: rgb(48, 97, 255);
}

label{
    margin: 10px;
    color: rgb(48, 97, 255);
}

.filter-button{
    position: relative;
    bottom: 100px;
    background: blue;
}

.read-more-search{
    background: white;
    color: rgb(48, 97, 255);
    padding: 20px;
    border: 2px solid rgb(48, 97, 255);
    border-radius: 10px;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin: 0px 360px;
    cursor: pointer;
}

.read-more-search:hover{
    background: rgb(48, 97, 255);
    color: white;
    border: 2px solid white;
}