.section-heading{
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 96px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
    padding-top: 100px;
    height: 400px;
}

.section-heading.business{
    background-image: url(https://images.pexels.com/photos/2305099/pexels-photo-2305099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.section-heading.entertainment{
    background-image: url('https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.section-heading.general{
    background-image: url('https://cdn.pixabay.com/photo/2015/12/01/20/28/forest-1072828__480.jpg');
}

.section-heading.health{
    background-image: url('https://images.pexels.com/photos/1295572/pexels-photo-1295572.jpeg?auto=compress&cs=tinysrgb&w=800');
}

.section-heading.science{
    background-image: url('https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg');
}

.section-heading.sports{
    background-image: url('https://cdn.pixabay.com/photo/2017/08/07/23/50/climbing-2609319_1280.jpg');
}

.section-heading.technology{
    background-image: url('https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.bottom{
    position: relative;
    bottom: 100px;
    width: 1104px;
    margin: auto;
    height: 300px;
}

.blur{
    position: relative;
    bottom: 120px;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0, 0.0001);
    height: 200px;
}

.sc-title{
    font-size: 20px;
    font-weight: 400;
}

.read-more{
    background: white;
    color: rgb(48, 97, 255);
    padding: 20px 60px;
    border: 2px solid rgb(48, 97, 255);
    border-radius: 10px;
    font-size: medium;
    display: flex;
    justify-content: center;
    margin: 0px 360px;
    cursor: pointer;
    position: relative;
    bottom: 290px;
}

.read-more:hover{
    background: rgb(48, 97, 255);
    color: white;
    border: 2px solid white;
}
